{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base Template</title>
    {% include 'base/css.html' %}
    {% block base_head %}{% endblock %}
</head>
<body>
{% include 'base/navbar.html' with brand_name='eCommerce' %}
<div class='container'>
    {% block content %}{% endblock %}
</div>


{% include 'base/js.html' %}


<script>

    // Ajax отправки в корзину товаров и обработка формы :)

    $(document).ready(function () {
        const $productForm = $(".form-product-ajax")
        // Перехватываем событие submit
        $productForm.submit(function (e) {
            // Отменяем стандартное поведение
            e.preventDefault()
            const thisForm = $(this)
            const formData = thisForm.serialize()
            const httpMethod = thisForm.attr("method")
            //const actionEndPoint = thisForm.attr("action")
            const actionEndPoint = thisForm.attr("data-endpoint")

            $.ajax({
                url: actionEndPoint,
                method: httpMethod,
                data: formData,
                success: function (data) {
                    {#console.log("success")#}
                    {#console.log(data)#}
                    {#console.log(data.added)#}
                    {#console.log(data.removed)#}

                    const $submitSpan = thisForm.find('.submit-span')
                    const $navBarCartCount = $('.navbar-cart-count')

                    if (data.added) {
                        $submitSpan.html("In cart <button type='submit' class='btn btn-link'>Remove?</button>")
                    } else {
                        $submitSpan.html("<button type='submit' class='btn btn-success'>Add to cart</button>")
                    }
                    // Обновляем число рядом с корзиной
                    $navBarCartCount.text(data.cartItemsCount)


                    // Если в пути есть слово cart (то мы на странице корзины)
                    if (window.location.href.indexOf("cart") !== -1) {
                        refreshCart()
                    }
                },
                error: function (errorData) {
                    console.log(errorData)
                    console.log("error")
                }
            })
        })


        function refreshCart() {
            //console.log("in cart")
            //const $cartTable = $(".cart-table")
            const $cartBody = $(".cart-body")

            const $subtotal = $cartBody.find(".cart-subtotal")
            const $total = $cartBody.find(".cart-total")
            const $productsRows = $cartBody.find(".cart-product")


            const updateCartMethod = "GET"
            const updateCartUrl = "/cart/api/"
            let data = {}

            $.ajax({
                url: updateCartUrl,
                method: updateCartMethod,
                data: data,
                success: function (data) {

                    const $hiddenCartItemRemoveForm = $(".cart-item-remove-form")

                    if (data.products.length > 0) {

                        $productsRows.html(" ")

                        i = data.products.length
                        $.each(data.products, function(index, value){
                            console.log(value)
                            const newCartItemRemove = $hiddenCartItemRemoveForm.clone()
                            newCartItemRemove.css("display", "block")
                            // newCartItemRemove.removeClass("hidden-class")
                            newCartItemRemove.find(".cart-item-product-id").val(value.id)
                            $cartBody.prepend("<tr><th scope=\"row\">" + i + "</th><td><a href='" + value.url + "'>" + value.name + "</a>" + newCartItemRemove.html() + "</td><td>" + value.price + "</td></tr>")
                            i --
                        })


                        $subtotal.text(data["subtotal"])
                        $total.text(data["total"])
                    } else {
                        //$cartTable.html("<p class='lead'>Cart is empty</p>")
                        //Редирет самого себя на корзину
                        location.reload()

                    }

                },
                error: function (data) {
                    console.log("error")
                    console.log(data)
                }
            })

        }
    })
</script>

</body>
</html>